{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "exclude": ["babel-plugin-transform-exponentiation-operator"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}
